@use 'variables' as *;

// _layout.scss

.toolbar {
    background-color: $cor-branco;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-bottom: 2px solid $cor-borda;
    box-shadow: 0 2px 10px $cor-sombra;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.conteudo {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;

    //js
section {
display: none; 
animation: surgir 0.5s ease-in-out;
    &.ativa {
        display: block;
    }
}
}

@keyframes surgir {
    from {
        opacity: 0; 
        transform: translateY(20px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}